.header {
  background-color: #e8e8e8;
  -webkit-box-shadow: 0 21px 21px rgba(0, 0, 0, 0.28);
          box-shadow: 0 21px 21px rgba(0, 0, 0, 0.28);
  opacity: 0.9;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-wrap__mini {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.header-wrap__mini__img {
  background-image: url("../img/menu.png");
  width: 17px;
  height: 17px;
  padding: 20px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.header-wrap__mini__text {
  font-size: 14px;
  padding-top: 12px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 22px;
  margin-bottom: 22px;
}

.header-menu__text {
  font-size: 14px;
  padding-right: 36px;
  font-weight: 400;
  color: #000000;
  text-decoration: underline;
}

.header-menu__text:hover {
  cursor: pointer;
}

.header-contacts {
  margin: 13px 0 13px auto;
  text-align: right;
}

.header-contacts__phone a {
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: #1f1f1f;
}

.header-contacts .button-small {
  width: 176px;
  height: 14px;
  color: #22bac1;
  font-size: 13px;
  text-decoration: underline;
  border: none;
  background-color: #e8e8e8;
  padding-right: 0;
}

.header-contacts .button-small:hover {
  cursor: pointer;
}

.main {
  background: url(../img/main/style_main.png);
  background-color: #000000;
  position: relative;
  opacity: 100;
}

.main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.main-text__title {
  width: 510px;
  padding-top: 155px;
  color: #fffafa;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}

.main-text__subtitle {
  padding-top: 40px;
  color: #fffafa;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 40px;
}

.main-text__advantages {
  width: 268px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.main-text__advantages ul {
  padding: 0;
}

.main-text__advantages ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.main-text__advantages ul li:before {
  display: block;
  padding-top: 9px;
  content: '';
  text-align: center;
  border-radius: 50%;
  min-width: 38px;
  height: 38px;
  border: 1px solid #ffffff;
  margin-right: 22px;
  background-position: center;
}

.main-text__advantages ul #first:before {
  content: '5';
}

.main-text__advantages ul #second:before {
  content: '24';
}

.main-text__advantages ul #tree:before {
  background-image: url("../img/main/arrow.png");
}

.main-text__advantages ul #four:before {
  background-image: url("../img/main/img4.png");
}

.main-text__advantages ul img {
  min-width: 15px;
  height: 17px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.main-form {
  margin-top: 178px;
  margin-bottom: 101px;
  width: 372px;
  height: 433px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main-form__title {
  width: 234px;
  font-size: 18px;
  font-weight: 400;
  padding-top: 42px;
  margin: 0 auto;
  padding-bottom: 26px;
  text-align: center;
}

.main-form__title b {
  font-weight: 700;
  font-family: 'Proxima Nova-Bold';
}

.main-form__input {
  text-align: center;
  width: 263px;
  height: 53px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  margin-bottom: 12px;
  color: #7c7c7c;
  font-size: 13px;
  font-weight: 300;
}

.main-form__button {
  cursor: pointer;
  width: 263px;
  height: 63px;
  background-color: #23bac1;
  margin-top: 6px;
  margin-bottom: 43px;
  color: #ffffff;
  font-family: 'Proxima Nova-Semibold';
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  border: none;
}

.feedback {
  background-color: #ffffff;
}

.feedback .section-title {
  padding-top: 100px;
}

.feedback .section-title hr {
  float: center;
  width: 31px;
  height: 2px;
  background-color: #23bac1;
}

.feedback .section-subtitle {
  padding-bottom: 79px;
}

.feedback-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback .card {
  max-width: 370px;
  max-height: 680px;
  text-align: center;
  padding-bottom: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #ffffff;
  margin-top: 30px;
}

.feedback .card:hover {
  -webkit-box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1);
}

.feedback .card_title {
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: 400;
}

.feedback .card_img {
  width: 300px;
  height: 220px;
  margin-left: 35px;
  margin-right: 35px;
  padding-bottom: 35px;
}

.feedback .card_text {
  width: 196px;
  height: 224px;
  color: #000000;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
}

.feedback .card_text b {
  line-height: 21px;
}

.feedback .card_text hr {
  float: center;
  width: 9px;
  height: 2px;
  background-color: #23bac1;
}

.feedback .card__button {
  width: 230px;
  height: 55px;
  margin-top: 34px;
  border: 1px solid #aeaeae;
  background-color: #ffffff;
  opacity: 0.2;
  color: #000000;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.33px;
}

.feedback .card__button:hover {
  cursor: pointer;
  background-color: #23bac1;
  color: #ffffff;
  font-family: 'Proxima Nova-Semibold';
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  border: none;
}

@font-face {
  font-family: 'Proxima Nova-Light';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Proxima Nova-Light', sans-serif;
  margin: 0;
}

.container {
  width: 1171px;
  margin: 0 auto;
}

.section-title {
  color: #000000;
  font-size: 36px;
}

.section-title_center {
  text-align: center;
}

.section-subtitle {
  color: #000000;
  font-size: 20px;
  text-align: center;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1171px;
  }
  .header-wrap__mini {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .header-wrap__mini {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .header-wrap__mini {
    height: 30px;
    margin: 15px auto;
  }
  .header-menu {
    display: none;
  }
  .main-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-text__title {
    width: 350px;
    padding-top: 100px;
    font-size: 30px;
    line-height: 50px;
  }
  .main-text__subtitle {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .main-form {
    margin-top: 100px;
    margin-right: 5px;
    width: 300px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .header-wrap__mini {
    height: 30px;
    margin: 12px auto;
  }
  .header-menu {
    display: none;
  }
  .main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-text__title {
    width: 300px;
    padding-top: 50px;
    font-size: 30px;
    font-weight: 200;
    line-height: 40px;
  }
  .main-text__subtitle {
    margin: 0 auto;
    padding-top: 20px;
    font-size: 13px;
    font-weight: 100;
    padding-bottom: 20px;
  }
  .main-form {
    margin-top: 30px;
  }
}

@media (min-width: 530px) and (max-width: 582px) {
  .container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .header-wrap__mini {
    height: 30px;
    margin: 10px auto;
  }
  .header-menu {
    display: none;
  }
  .header-contacts__phone a {
    font-size: 14px;
    font-weight: 600;
  }
  .header-contacts .button-small {
    font-size: 12px;
  }
  .main-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-text {
    width: 400px;
  }
  .main-text__title {
    padding-top: 100px;
    font-size: 30px;
    line-height: 50px;
  }
  .main-text__subtitle {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .main-form {
    margin-top: 100px;
    margin-right: 15px;
    width: 300px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .header-wrap__mini {
    height: 30px;
    margin: 10px auto;
  }
  .header-menu {
    display: none;
  }
  .header-contacts__phone a {
    font-size: 12px;
    font-weight: 600;
  }
  .header-contacts .button-small {
    font-size: 12px;
  }
  .main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-text__title {
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 30px;
    font-weight: 200;
    line-height: 40px;
  }
  .main-text__subtitle {
    margin: 0 auto;
    padding-top: 20px;
    font-size: 13px;
    font-weight: 100;
    padding-bottom: 20px;
  }
  .main-form {
    width: 300px;
    margin-top: 30px;
  }
}
/*# sourceMappingURL=style.css.map */