.feedback
  background-color: #ffffff
  padding-bottom: 28px
  .section-title
    padding-top: 60px
    &:after 
      display: block
      content: ''
      display: block
      background-image: linear-gradient(45deg, #1c8fd4 0%, #23bac1 100%)
      margin-bottom: 45px
      margin-top: 23px
      margin-bottom: 42px
      margin-left: auto
      margin-right: auto
      width: 32px
      height: 3px
  .section-subtitle
    padding-bottom: 70px
  &-wrap
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  .card
    max-width: 370px
    height: 680px
    text-align: center
    justify-content: center
    transition: 0.2s
    background-color: #ffffff
    padding-top: 33px
    margin-bottom: 30px
    &:hover
      box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1)
    &_title
      padding-bottom: 24px
      font-size: 20px
      font-weight: 400
    &_img
      width: 300px
      height: 220px
      margin-left: 35px
      margin-right: 35px
      padding-bottom: 35px
    &_text
      color: #000000
      font-size: 13px
      text-align: center
      margin: 0 auto 55px auto
      height: 224px
      b
        line-height: 21px
        font-size: 15px
      hr
        float: center
        width: 9px
        height: 2px
        background-color: #23bac1
        border: #23bac1
        margin-top: 5px 
        margin-bottom: 0 
        padding: 0
    &__button
      width: 230px
      height: 55px
      margin-bottom: 40px
      border: 1px solid #eeeeee
      background-color: #ffffff
      color: #000000
      font-size: 13px
      text-transform: uppercase
      letter-spacing: 0.33px
      &:hover
        cursor: pointer
        background-color: #23bac1
        color: #ffffff
        font-family: 'Proxima Nova-Semibold'
        font-size: 13px
        text-transform: uppercase
        letter-spacing: 0.38px
        border: none 