@media (min-width: 1200px) 
  .container
    max-width: 1171px
  .main-wrapper
    display: none
  .portfolio
    .section-subtitle
      padding-top: 10px
      padding-bottom: 60px
  .portfolio-client
  .section__title
    padding-top: 80px 
    padding-bottom: 80px
  .slider-client 
    width: 98% 
@media (min-width: 992px) and (max-width: 1200px) 
  .container 
    width: 98%
  .header
    &-wrap
    &-menu
      &__text a
        &:hover
          color: #000000
    &-contacts
      &__link a
        &:hover
          color: #22bac1
  .main
    &-wrap
      justify-content: space-around
    &-form
      &__button
        &:hover
        background-color: #23bac1 !important
  .main-wrapper
    display: none
  .types
    &-wrap
      justify-content: space-around
  .portfolio
    .section-subtitle
      padding-top: 10px
      padding-bottom: 60px
  .slider
    margin: 0 
    width: 100%
    &__item
      justify-content: space-around      
  .slider-button
    background-color: #23bac1 !important
  .customers
  .section_title
    margin: 0 10px
  .customers-wrap
    justify-content: space-around
  .goal
    width: 320px
  .portfolio-client
  .section__title
    padding-top: 70px 
    padding-bottom: 80px
  .slider-client 
    width: 98%
  .footer
  .contacts-wrap
    &__link a
      &:hover
        color: #22bac1 

@media (min-width: 768px) and (max-width: 992px) 
  .container 
    width: 98%    
  .header
    display: none  
    &-contacts
      &__link a
        &:hover
          color: #22bac1
  .main
    &-wrap
      justify-content: center
    &-text      
      &__title
        width: 350px
        padding-top: 100px
        font-size: 30px
        line-height: 50px
      &__subtitle
        padding-top: 20px
        padding-bottom: 30px
      &__advantages
    &-form
      margin-top: 100px
      margin-right: 5px
      width: 300px
      &__input
      &__button
        background-color: #23bac1 !important
  .types
    .section-subtitle
      padding-bottom: 30px
    &-wrap
      justify-content: space-around
    &__card
      box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1)
      &-img>img 
        width: 300px
        min-height: 220px
        object-fit: cover
        filter: none
        transition: all 0.5s
      &-button
        background-color: #23bac1
        color: #ffffff
        border: none
  .portfolio
    .section-title
    .section-subtitle
      padding-top: 20px
      padding-bottom: 60px
  .slider
    margin: 0 auto
    width: 80%
    justify-content: center
    &__item
      display: block !important
      margin: 0 auto
      width: 80%
      text-align: center
      &-img
        display: flex       
        justify-content: center
      &-text
        margin: 0 auto
      .title
        margin-top: 30px 
        margin-bottom: 30px
  .slider-button
    margin: 30px auto 0 auto    
    background-color: #23bac1 !important
  .customers
  .goal
    margin-bottom: 80px
  .section_title
    margin: 0 10px
  .customers-wrap
    justify-content: space-around
  .goal
    width: 350px
  .portfolio-client
    padding-bottom: 150px
  .section__title
    padding-top: 70px 
    padding-bottom: 80px
  .slider-client 
    width: 98%
  .footer
  .contacts-wrap
    &__link a
      &:hover
        color: #22bac1  
  .slider__item-img
    margin: 0 auto
@media (min-width: 576px) and (max-width: 767px)
  .container
    width: 98%
  .header
    display: none  
    &-contacts
      &__link a
        &:hover
          color: #22bac1
  .main
    flex-wrap: wrap
    &-wrap
      flex-wrap: wrap
      justify-content: center
    &-text
      width: 95%
      justify-content: center
      text-align: center
      &__title
        padding-top: 50px
        font-size: 30px
        font-weight: 200
        line-height: 40px
        margin: 0 auto
      &__subtitle
        margin: 0 auto
        padding-top: 20px
        font-size: 13px
        font-weight: 100
        padding-bottom: 20px
      &__advantages
        margin: 0 auto
        text-align: left
        padding-bottom: 20px
    &-form
      margin-top: 30px
      margin-right: 5px
      width: 300px
      &__input
      &__button
        background-color: #23bac1 !important    
  .types
    .section-title
      padding-top: 40px
    .section-subtitle
      padding-bottom: 20px
    &-wrap
      justify-content: center
    &__card
      box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1)
      margin: 10px 10px 20px 10px
      &-img>img 
        width: 300px
        min-height: 220px
        object-fit: cover
        filter: none
        transition: all 0.5s
      &-button
        background-color: #23bac1
        color: #ffffff
        border: none
  .portfolio
    .section-subtitle
      padding-top: 10px
      padding-bottom: 50px
  .slider
    margin: 0 auto
    width: 80%
    justify-content: center
    &__item
      display: block !important
      margin: 0 auto
      width: 80%
      text-align: center
      &-img        
        display: flex       
        justify-content: center
      &-text
        margin: 0 auto
      .title
        margin-top: 30px 
        margin-bottom: 30px
  .slider-button
    margin: 30px auto 0 auto
    background-color: #23bac1 !important
  .customers
  .goal
    margin-bottom: 80px
  .section_title
    margin: 0 10px
  .customers-wrap
    justify-content: space-around
  .portfolio-client
    padding-bottom: 110px
  .section__title
    padding-top: 60px 
    padding-bottom: 70px
  .slider-client 
    width: 98%
  .footer
  .contacts-wrap
    &__link a
      &:hover
        color: #22bac1  
  .slider__item-img
    margin: 0 auto

@media (min-width: 530px) and (max-width: 582px) 
  .container 
    width: 98% 
  .header
    display: none  
    &-contacts
      &__link a
        &:hover
          color: #22bac1
  .main
    &-wrap
      justify-content: center
    &-text
      width: 95%
      justify-content: center
      text-align: center
      &__title
        padding-top: 100px
        font-size: 30px
        line-height: 50px
        margin: 0 auto
      &__subtitle
        padding-top: 20px
        padding-bottom: 30px
        margin: 0 auto
      &__advantages
        margin: 0 auto
        text-align: left
        padding-bottom: 20px
    &-form
      margin-top: 30px
      margin-right: 5px
      width: 300px
      &__input
      &__button
        background-color: #23bac1 !important   
  .types
    .section-title
      padding-top: 30px
    .section-subtitle
      padding-bottom: 20px
    &-wrap
      justify-content: center
    &__card
      padding-top: 15px
      box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1)
      &-img>img 
        width: 300px
        min-height: 220px
        object-fit: cover
        filter: none
        transition: all 0.5s
      &-button
        background-color: #23bac1
        color: #ffffff
        border: none
  .portfolio
    .section-subtitle
      padding-top: 5px
      padding-bottom: 60px
  .slider
    margin: 0 auto
    width: 80%
    justify-content: center
    &__item
      display: block !important
      margin: 0 auto
      width: 80%
      text-align: center
      &-img
        display: flex       
        justify-content: center
      &-text
        margin: 20px auto 10px auto

      .title
        margin-top: 10px 
        margin-bottom: 20px
  .slider-button
    margin: 30px auto 0 auto
    background-color: #23bac1 !important
  .customers
  .section_title
    margin: 0 10px
    padding-top: 70px
    padding-bottom: 60px
  .customers-wrap
    justify-content: center
    padding-bottom: 25px
  .goal
    width: 400px
    margin-bottom: 70px
  .portfolio-client
    padding-bottom: 100px
  .section__title
    padding-top: 50px 
    padding-bottom: 60px
  .slider-client 
    width: 98%
  .footer
  .contacts-wrap
    &__link a
      &:hover
        color: #22bac1  

@media (max-width: 576px) 
  .container 
    width: 98%    
  .header
    display: none  
    &-contacts
      &__link a
        &:hover
          color: #22bac1
          cursor: pointer
  .main
    flex-wrap: wrap
    &-wrap
      flex-wrap: wrap
      justify-content: center
    &-text
      width: 95%
      justify-content: center
      text-align: center
      &__title
        width: 300px
        margin: 0 auto
        padding-top: 50px
        font-size: 30px
        font-weight: 200
        line-height: 40px
      &__subtitle
        margin: 0 auto
        padding-top: 20px
        font-size: 13px
        font-weight: 100
        padding-bottom: 20px
      &__advantages
        margin: 0 auto
        text-align: left
        padding-bottom: 20px
    &-form
      margin-top: 30px
      margin-right: 5px
      width: 300px
      &__input
      &__button
        background-color: #23bac1 !important   
  .types
    padding-bottom: 0
    .section-title
      padding-top: 20px
      margin: 0 20px
    .section-subtitle
      padding-bottom: 10px
    &-wrap
      justify-content: center
    &__card
      width: 300px
      padding-top: 10px
      box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1)
      &-img>img 
        width: 250px
        height: 170px
        object-fit: cover
        filter: none
        transition: all 0.5s
      &-button
        background-color: #23bac1
        color: #ffffff
        border: none  
        width: 200px
        height: 50px  
        font-size: 10px 
        margin-bottom: 10px 
  .portfolio
    padding-bottom: 10px
    .section-title
      padding-top: 40px
    .section-subtitle
      padding-top: 10px
      padding-bottom: 30px
  .slider
    margin: 0 auto
    width: 98%
    justify-content: center
    align-items: center
    &__item
      display: block !important
      margin: 0 auto
      width: 100%
      text-align: center
      &-img
        display: flex       
        justify-content: center
        max-width: 310px !important
        margin: 0 auto
        img
          height: 250px !important
          width: 250px !important               
      &-subtitle
        margin-bottom: 30px
      &-text 
        margin: -65px auto 10px auto
      .title
        margin-top: 20px 
        margin-bottom: 20px
  .slider-button
    margin: 30px auto 0 auto
    background-color: #23bac1 !important
  .customers
  .section_title
    margin: 0 10px
    padding-top: 50px
    padding-bottom: 40px
    font-size: 20px
  .customers-wrap
    justify-content: center
    padding-bottom: 20px
  .goal
    width: 300px
    margin-bottom: 50px    
  .portfolio-client
    padding-bottom: 90px
  .section__title
      padding-top: 60px 
      padding-bottom: 60px
  .slider-client 
    width: 95%
    height: 70px
  .slider-client__item 
    width: 310px
    margin: 0 100px
    &-img
      width: 120px
  .footer
    height: 280px 
    padding-top: 10px
    margin: 0 auto
    &-wrap 
      display: block
      text-align: center
  .adress-wrap 
    display: block
    margin-top: 45px
  .adress-img 
    margin: 0 auto
    padding-top: 8px
    padding-bottom: 8px
  .adress-text 
    margin: 0 auto
  .contacts-wrap
    text-align: center
  .modal
    width: 100%
    &__dialog
      width: 300px
    .modal-form
      width: 300px
      height: 350px
      &__title
        font-size: 15px
      &__input
        font-size: 11px
        width: 240px
        height: 48px
      &__button
        font-size: 13px
        width: 240px
        height: 51px
  .footer
  .contacts-wrap
    &__link a
      &:hover
        color: #22bac1  