@import 'header' 
@import 'main'
@import 'feedback'
@import 'fonts'
 
*, *:after, *:before
   box-sizing: border-box
body 
   font-family: 'Proxima Nova-Light', sans-serif
   margin: 0
  
.container
   width: 1171px
   margin: 0 auto
.section
   &-title
      color: #000000
      font-size: 36px
      &_center
         text-align: center
   &-subtitle
      color: #000000
      font-size: 20px
      text-align: center

@import 'media'